<div x-tabs:panel x-cloak class="md:space-y-8 sm:pt-12 md:pb-32 lg:px-16 p-6 pb-24 space-y-4">
	<blockquote class="font-semibold sm:font-medium xl:pr-16 md:text-3xl lg:text-4xl 2xl:text-5xl sm:text-2xl text-xl !leading-[1.33333] lg:max-w-[60ch]">
		Veganism is a philosophy and way of living which seeks to exclude—as far as is possible and practicable—all forms of exploitation of, and cruelty to, animals for food, clothing or any other purpose; and by extension, promotes the development and use of animal-free alternatives for the benefit of animals, humans and the environment. In dietary terms it denotes the practice of dispensing with all products derived wholly or partly from animals.
	</blockquote>



	<div class="prose-neutral md:pt-12 lg:pt-16 xl:prose-xl pt-8 prose prose-lg">
		<p>This original and widely accepted definition of veganism from <a href="https://www.vegansociety.com/go-vegan/definition-veganism" target="_blank" rel="noopener noreferrer">The Vegan Society</a> encapsulates both the practice and philosophy of veganism.</p>

		<p>There are several key points worth expanding on in this definition:</p>

		<div class="lg:space-y-8 space-y-4">
			<dl id="philosophy" class="border-black/10 lg:py-8 py-4 border-b">
				<dt class="lg:text-3xl md:text-2xl pb-2 text-xl font-medium">A philosophy and way of living…</dt>
				<dd>Despite the common misconception veganism is more than a dietary choice; it is a philosophy advocating for the ethical treatment of all living beings and the promotion of environmental sustainability. As a way of living, veganism involves making choices in all aspects of life that align with these values, such as abstaining from animal-derived products in food, clothing, beauty products, and other consumer goods, services and traditions.</dd>
			</dl>

			<dl id="possible" class="border-black/10 lg:pb-8 pb-4 border-b">
				<dt class="lg:text-3xl md:text-2xl pb-2 text-xl font-medium">As far as is possible and <abbr class="cursor-help" title="Note that the word here is practicable, not practical.">practicable</abbr>…</dt>
				<dd>Means that vegans should do their best to avoid animal derived products/services/traditions but acknowledges that complete avoidance of animal products may not be possible in all circumstances.</dd>
				<dd class="lg:pt-4 pt-2">You can read more about this specific subject in the blog post <a href="https://veganfta.com/2022/11/23/practicable-veganism/" target="_blank" rel="noopener noreferrer">Practicable Veganism</a> by <a href="https://www.vegansociety.com/jordi-casamitjana" target="_blank" rel="noopener noreferrer">ethical vegan Jordi Casamitjana</a>.</dd>
			</dl>

			<dl id="animals" class="border-black/10 lg:pb-8 pb-4 border-b">
				<dt class="lg:text-3xl md:text-2xl pb-2 text-xl font-medium">All forms of exploitation of, and cruelty to, animals…</dt>
				<dd>Refers to the use and mistreatment of animals for human benefit. This includes using animals for food, clothing, entertainment, experimentation, or any other purpose that involves causing harm or suffering to the animal. It also includes actions that may not directly cause harm to the animal, but still exploit or take advantage of their natural behaviors or needs, such as keeping animals in captivity or using them for breeding purposes.</dd>
			</dl>

			<dl id="purpose" class="border-black/10 lg:pb-8 pb-4 border-b">
				<dt class="lg:text-3xl md:text-2xl pb-2 text-xl font-medium">For food, clothing or any other purpose…</dt>
				<dd>Vegans abstain from using any animal products in any aspect of their life, not just in their food choices. This includes avoiding clothing made from animal materials (such as leather, wool, and silk) and using non-animal products for any other purpose (such as household or personal care items that may contain animal ingredients or be tested on animals), as well as activities such as hunting, circuses, and zoos.</dd>
			</dl>

			<dl id="alternatives" class="border-black/10 lg:pb-8 pb-4 border-b">
				<dt class="lg:text-3xl md:text-2xl pb-2 text-xl font-medium">Promotes the development and use of animal-free alternatives…</dt>
				<dd>This means that vegans actively support the development and use of alternatives to animal products and by-products. This can include supporting companies that produce plant-based or synthetic products, as well as researching and developing new animal-free alternatives.</dd>
			</dl>
		</div>

		<p>Overall, the Vegan Society definition of veganism reflects the belief that it is morally wrong for animals to be exploited for self-interested purposes and that vegans strive to avoid all forms of animal exploitation and cruelty as much as possible in their daily lives despite the challenges of living in a non-vegan world.</p>
	</div>
</div>
