<div x-tabs:panel x-cloak class="sm:pt-12 md:pb-32 lg:px-16 lg:space-y-24 md:space-y-20 min-h-screen p-6 pb-24 space-y-12">
	<div class="lg:grid-cols-6 lg:gap-16 border-black/10 md:gap-4 grid border-b-2">
		<blockquote class="md:pb-8 xl:pb-12 pb-4 lg:col-span-4 font-semibold sm:font-medium xl:pr-16 md:text-3xl lg:text-4xl 2xl:text-5xl sm:text-2xl text-xl !leading-snug lg:max-w-[60ch]">Veganism is the principle of the emancipation of animals from exploitation by man.</blockquote>

		<p class="lg:col-span-2 xl:prose-xl prose-neutral md:pb-8 xl:pb-16 flex items-end pb-4 leading-normal prose prose-lg">
			Leslie J Cross — The Vegan Society, 1949.
		</p>
	</div>

	<div class="lg:grid-cols-6 lg:gap-16 border-black/10 md:gap-4 grid border-b-2">
		<blockquote class="md:pb-8 xl:pb-12 pb-4 lg:col-span-4 font-semibold sm:font-medium xl:pr-16 md:text-3xl lg:text-4xl 2xl:text-5xl sm:text-2xl text-xl !leading-snug lg:max-w-[60ch]">To seek an end to the use of animals by man for food, commodities, work, hunting, vivisection, and by all other uses involving exploitation of animal life by man.
		</blockquote>

		<p class="lg:col-span-2 xl:prose-xl prose-neutral md:pb-8 xl:pb-16 flex items-end pb-4 leading-normal prose prose-lg">
			Later this was clarified with more detail.
		</p>
	</div>
</div>
