<div x-tabs:panel x-cloak class="md:space-y-8 sm:pt-12 md:pb-32 lg:px-16 min-h-screen p-6 pb-24 space-y-4">
	<h2 class="xl:pr-16 lg:max-w-[60ch] font-semibold sm:font-medium md:text-3xl lg:text-4xl xl:text-5xl sm:text-3xl text-2xl !leading-[1.33333]">
		Veganism is not a diet.
	</h2>

	<div class="prose-neutral md:pt-12 lg:pt-16 xl:prose-xl pt-8 space-y-8 prose prose-lg">
		<p>At its core, veganism is a combination of animal liberation and the ancient belief of nonviolence known as <a href="https://en.wikipedia.org/wiki/Ahimsa" target="_blank" rel="noopener noreferrer">ahimsa</a>.</p>

		<blockquote class="sm:w-4/5 not-italic">
			<p>Veganism is not just a diet. It is not just a ‘lifestyle.’ It is a nonviolent act of defiance. It is a refusal to participate in the oppression of the innocent and the vulnerable. It is a rejection of the insidious idea that harming other sentient beings should be considered a ‘normal’ part of life. It represents a paradigm shift toward a new default position that violence for pleasure, amusement or convenience can never be justified.</p>
			<cite class="text-base not-italic">Gary L. Francione (Professor of philosophy)</cite>
		</blockquote>

		<p>Veganism is a moral baseline that fully embraces the aspects of humanity that make us unique from other animals; ethics and morality, our intelligence, creativity, and advanced problem-solving abilities. Veganism challenges unethical traditions and encouraging people to think critically about the choices they make and the impact they have in the world.</p>

		<blockquote class="sm:w-4/5 not-italic">
			<p>Veganism is a principle — that man has no right to exploit the creatures for his own ends — and no variation occurs.</p>
			<cite class="text-base not-italic">Leslie Cross, (Vice-President, The Vegan Society, 1951)</cite>
		</blockquote>

		<p>Ultimately the principal of veganism encourages us to use our position of power in a way that benefits all sentient beings and the environment. By choosing to live a vegan lifestyle, individuals can make a meaningful difference in the world, and contribute to the creation of a more compassionate and sustainable future.</p>
	</div>
</div>
